@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'sans-serif';
}
:root {
    --cor-de-fundo: #EBECC;
    --branco: #cec8c8;
    --laranja: #E89B00
    --azul-degrade: (97.54deg, #002F52 35.49%, #326589 165.37%);
}

body{
    background-color: var(--cor-de-fundo);
    font-family: 'Popins', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
/* INÍCIO DO CABEÇALHO */
.cabecalho__menu-hamburguer {
    width: 40px;
    height: 40px;
    background-image: url(./imgs/header/Menu.svg);
    background-position: center;
    margin-right: 15px;
    
    display: inline-block;
    
}
.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--branco);

    padding: 18px 24px 18px 24px;

    position: relative;
}

.container {
    display: flex;
    align-items: center;
}
.container__imagem {
    padding: 1em;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
}

.container__botao:checked~.lista-menu {
    display: block;
}

.lista-menu__titulo,
.lista-menu__item {
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu__titulo {
    color: orangered;
    font-weight: 700;
}

.lista-menu__link {
    color: #002F52;
    text-decoration: none;
    text-transform: uppercase;
}
.lista-menu__link a{
    font-family: 'Popins', sans-serif;
}
/* FINAL DO CABEÇALHO */

/* INÍCIO DO BANNER */
.banner {
    background: #002F52;
    color: var(--branco);
    text-align: center;
    padding: 2.5em 2em;
}
.banner__titulo {
    font-size: 18px;
    font-weight: 700;
}
.banner__texto {
    font-weight: 500;
    margin: 1em 0;
}
.banner__pesquisa {
    background-color: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 24px;
    padding: 1em;
    width: 100%;  
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #FFFFFF;  
    letter-spacing: 1px;
}
.banner__pesquisa::placeholder {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;
    background: url(./imgs/lupa.svg);
    background-repeat: no-repeat;
    
    
}

